body { background: #f6adc9; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-session-0 { color: #d8ef3f; font-size: 20px; margin-bottom: 5px; }
.block-config-1 { color: #9f9b93; font-size: 15px; margin-bottom: 5px; }
.block-search-2 { color: #4b88a3; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #3f345b; font-size: 13px; margin-bottom: 5px; }
.block-cluster-4 { color: #68a7dd; font-size: 16px; margin-bottom: 5px; }